.registerPage {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  background-color: var(--white);
}

.registerMain {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.authLangSwitcher {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 10px;
  padding: 1.5rem;

  .langSwitcher {
    padding-right: 0;
    border-right: none;

    .langBtn:hover {
      color: var(--text-gray);
    }
  }
}

.registerCard {
  width: 100%;
  max-width: 450px;
  background: var(--white);
}

.subtitle {
  margin-bottom: 2.5rem;
  font-size: 1rem;
  color: var(--text-gray);
}

.link {
  font-weight: 600;
  color: var(--blue);
  text-decoration: none;
}

.registerBtn {
  width: 100%;
}

.serverError {
  margin-top: 0.75rem;
  font-size: 0.85rem;
  color: var(--red);
  text-align: center;
}

.errorText {
  position: absolute;
  padding-top: 5px;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--text-error);
}

@media (width <= 805px) {
  .authLangSwitcher {
    padding: 0 1.5rem;
  }

  .registerPage {
    flex-direction: column;
  }

  .registerMain {
    padding: 2.5rem 1.5rem;
  }

  .registerCard {
    margin-top: 1rem;
  }
}
