.primary {
  min-width: 8.75rem;
  padding: 0.9rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  outline: none;
  background-color: var(--btn-primary);
  border-radius: 0.475rem;
  transition: 0.3s;
}

.primary:hover:not(:disabled) {
  outline: none;
  background-color: var(--btn-primary-hover);
  transition: all 0.3s;
}

.primary:disabled {
  color: #a1a5b7;
  cursor: not-allowed;
  outline: none;
  background-color: #e1e3ea;
}

.secondary {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  font-weight: 600;
  color: var(--text-dark);
  cursor: pointer;
  outline: none;
  background-color: var(--bg-secondary-btn);
  border: 1px solid var(--border);
  border-radius: 0.475rem;
  transition: all 0.3s;
}

.secondary:hover {
  color: var(--btn-primary);
  outline: none;
  background-color: var(--bg-secondary-btn);
  border: 1px solid var(--btn-primary);
  transition: all 0.3s;
}

.secondary:focus {
  outline: none;
}
